python-dotenv
pydantic
FastAPI
ipykernel
pydantic_settings
motor
redis
qdrant-client
tensorflow
langchain_google_genai
langchain-text-splitters
bs4
apscheduler
langgraph
sentence-transformers
langchain-community
langchain-cerebras
playwright
