--extra-index-url https://download.pytorch.org/whl/cpu
python-dotenv
pydantic
fastapi[standard]
ipykernel
pydantic_settings
motor
redis
qdrant-client
langchain_google_genai
langchain-text-splitters
bs4
apscheduler
langgraph
langchain-cohere
langchain-community
langchain-cerebras
feedparser
